<div class="row">
  <h2>Connexion</h2>
</div>

<div ng-show="loginError">
  </br>
  </br>
  <div class="alert alert-danger">
    <strong>Erreur :</strong> Les informations saisies ne sont pas correctes. Veuillez réessayer svp.
  </div>
</div>
<div class="row">
  <form class="form-horizontal col-md-8">

    <div class="form-group row">
      <label for="login" class="control-label col-md-3">Login</label>
      <div class="col-md-4">
        <input type="text" id="login" class="form-control" ng-model="login" placeholder="Ex: foo@bar.com">
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="control-label col-md-3">Password</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="password" ng-model="password">
      </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-3">Mémoriser mes identifiants</label>

        <div class="col-md-4">
          <div checked="false" onText="OUI" offText="NON">
           <input type="checkbox" id="rememberCredentials" name="rememberCredentials">
          </div>
        </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-4">
        <button type="submit" class="btn btn-primary" ng-click="signIn()">Se connecter</button>
      </div>
    </div>
  </form>

</div>





